<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <!-- Parameters used by tests at run time -->
  <TestRunParameters>
    <Parameter name="MONOTRIBUTO_URL" value="https://monotributo.afip.gob.ar/app/Inicio.aspx" />
    <Parameter name="MAX_FACTURA_SIN_DNI" value="95812" />
    <Parameter name="CUIT" value="ADD_VALUE" />
    <Parameter name="ACCESS" value="ADD_VALUE" />
    <Parameter name="PUNTO_DE_VENTA" value="ADD_VALUE" />
    <Parameter name="DOMICILIO" value="ADD_VALUE" />
  </TestRunParameters>

</RunSettings>